<nav class="navbar navbar-dark bg-dark topbar">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="/">📚 My Bookshelf</a>
        <div>
            {% if user.is_authenticated %}
                <span class="text-light me-2">Přihlášen: {{ user.username }}</span>
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-light btn-sm">Odhlásit se</button>
</form>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-light btn-sm">Přihlášení</a>
                <a href="{% url 'register' %}" class="btn btn-outline-light btn-sm ms-2">Registrace</a>
            {% endif %}
        </div>
    </div>
</nav>

    <div class="content">
