{% extends 'base.html' %}

{% block title %}Seznam knih{% endblock %}

{% block content %}
    <h1>Seznam knih</h1>
    <div class="row">
        {% for book in books %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    {% if book.cover_image %}
                        <img src="{{ book.cover_image.url }}" class="card-img-top" alt="{{ book.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">Autor: {{ book.author }}</p>
                        <p class="card-text"><small>{{ book.genre }}</small></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}