{% extends 'base.html' %}

{% block title %}Štítky{% endblock %}

{% block content %}
<h2>🏷️ Seznam štítků</h2>

{% if user.is_authenticated %}
    <a href="{% url 'create-tag' %}" class="btn btn-sm btn-success mb-3">➕ Vytvořit nový štítek</a>
{% endif %}

<div class="container-fluid">
    <div class="row">
        {% for tag in tags %}
        <div class="col-6 col-md-2 mb-3">
            <a href="{% url 'tag-detail' slug=tag.slug %}" class="card-item">
                <div class="card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <div class="tag-badge">{{ tag.name }}</div>
                    </div>
                </div>
            </a>
        </div>
        {% empty %}
        <div class="col-12">
            <div class="card p-3 text-center">
                <span class="badge bg-muted">Zatím žádné štítky.</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}